<div class="container" *ngIf="!loading">
          <div class="item" *ngFor="let item of userDetailsDataObj">
                    <mat-card class="card-prop">
                              <mat-grid-list cols="1" rowHeight="2:1">
                                        <div class="center">
                                                  <img src="https://www.w3schools.com/howto/img_avatar2.png">
                                        </div>
                              </mat-grid-list>
                              <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile class="card-title">First Name</mat-grid-tile>
                                        <mat-grid-tile>{{item.fields['First Name']}}</mat-grid-tile>
                              </mat-grid-list>
                              <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile class="card-title">Last Name</mat-grid-tile>
                                        <mat-grid-tile>{{item.fields['Last Name']}}</mat-grid-tile>
                              </mat-grid-list>
                              <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile class="card-title">DOB</mat-grid-tile>
                                        <mat-grid-tile>{{item.fields['Date of Birth']}}
                                        </mat-grid-tile>
                              </mat-grid-list>
                              <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile class="card-title">Gender</mat-grid-tile>
                                        <mat-grid-tile>{{item.fields['Gender']}}</mat-grid-tile>
                              </mat-grid-list>
                              <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile class="card-title">Status</mat-grid-tile>
                                        <mat-grid-tile class="user-status-prop">
                                                  {{item.fields['Status']}}
                                        </mat-grid-tile>
                              </mat-grid-list>
                    </mat-card>
          </div>
</div>

<div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
</div>