.content {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -75%);
          width: 24%;
          height: 300px;
          min-width: 300px;
}

.full-width {
          width: 100%;
}

.save-btn {
          width: 100%;
          background: #f44336;
          color: #fff;
}
